{% extends 'backofficeLayout.html.twig' %}

{% block content %}
    <div class="container" id="tdb">
        <h1><b>Tableau de bord</b></h1>
        <div class="row" id="cards">
            <div class="col-4">
                <div class="card text-white bg-primary mb-3" style="max-width: 18rem;">
                    <div class="card-header">Articles</div>
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ nbArticle }}</b></h5>
                        <p class="card-text">articles dans la base.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
                    <div class="card-header">Commentaires</div>
                    <div class="card-body">
                        <h5 class="card-title"><b>{{ nbComments }}</b></h5>
                        <p class="card-text">commentaires dans la base.</p>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
                    <div class="card-header">Utilisateurs</div>
                    <div class="card-body">
                        <h5 class="card-title"><b>0</b></h5>
                        <p class="card-text">utilisateurs dans la base.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}