{% extends 'layout.html.twig' %}

{% block content %}
    <div class="container" id="connect">
        <form method="post" action="index.php?p=saveNewPassword">
            <input type="hidden" name ="code" value="{{ code }}">
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <label for="name">Nom / pseudo</label>
                    <input type="text" class="form-control" name="name" id="name" value="" placeholder="" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <label for="password">Nouveau mot de passe</label>
                    <input type="password" class="form-control" name="password" id="password" value="" placeholder="" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-sm-6">
                    <label for="password2">Resaississez votre mot de passe</label>
                    <input type="password" class="form-control" name="password2" id="password2" value="" placeholder="" required>
                </div>
            </div>
            <div class="row justify-content-center">
                <div class="form-group col-sm-6 d-flex justify-content-center">
                    <button type="submit" id="form-submit" class="btn btn-lg rounded border-primary">Valider</button>
                </div>
            </div>
        </form>
    </div>
{% endblock %}