{% extends 'layout.html.twig' %}

{% block content %}
    <header class="text-center" id="sentemail">
        <div class="container">
            <i class="far fa-envelope fa-9x"></i>
            <h3>Votre email a été envoyé.</h3>
            <p>Il sera traité dans les mailleurs délais</p>
        </div>
    </header>
{% endblock %}